gymnasium==1.2.3
stable-baselines3==2.8.0
torch==2.11.0
numpy==2.4.3
pandas==3.0.1
matplotlib==3.10.8
tensorboard==2.20.0
pygame-ce==2.5.7
jupyter==1.1.1
ipykernel==7.2.0
imageio==2.37.3
imageio-ffmpeg==0.6.0